---
---

@import "{{ site.theme }}";
.gist-data{
    max-height:500px; // Any height
    overflow-y: scroll;
}

table {
    font-size:14px !important;
	align:center;
    margin-left:auto; 
    margin-right:auto;
	word-wrap: break-all;
}
