---
---

@import "{{ site.theme }}";
.gist-data{
    max-height:500px; // Any height
    overflow-y: scroll;
}

img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

table {
    font-size: 15px !important;
	max-width: 100%;
    max-height: 100%;
    overflow: auto;
	margin-left:auto; 
    margin-right:auto;
}