---
---

@import "{{ site.theme }}";
.gist-data{
    max-height:500px; // Any height
    overflow-y: scroll;
}

table {
    font-size:15px !important;
    width:100% !important;
    table-layout: fixed;
    overflow-wrap: break-word;
}

img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}
